:root {
    /* Colores */
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D4;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C; 
    --black: #282623;
    --grey: #BABABA;
    --off-white: #FAF8F7;
    --just-white: #FFFFFF; 
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}
header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 100px;
    text-align: center;
    align-items: center;
    background: linear-gradient(228deg, #201E1C 11.19%, #F7931A 100%);
}
header a{
    text-decoration: none;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

body {
    
    background-color: var(--off-white);
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.success {
    color: green;
    font-weight: bold;
    margin-top: 10px;
}

.btnLink {
display: inline-block;
margin: 10px 10px;
padding: 10px 20px;
background-color: var(--grey);
color: black;
text-decoration: none;
border: none;
border-radius: 3px;
cursor: pointer;
position: static;
}

.btnLink:hover {
background-color: var(--bitcoin-orange);
}